/* text colors */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

.middle-border {
  padding: 50px;
}

/* button */
.btn {
  cursor: pointer;
  /* ??? */
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 20px;
}

/* effect */
.btn:hover {
  opacity: 0.9;
}

.bg-primary {
  background: #5c78cf;
  color: #fff;
}

.btn-primary {
  background: #da544a;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background: #0284d0;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}

.btn-light,
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}

.btn-highlight {
  background: transparent;
  border: 1px solid #da544a;
  color: #da544a;
}

.btn-highlight-nonoutline {
  border: none;
  color: #da544a;
  background: transparent;
}

.bg-half {
  background: linear-gradient(#5c78cf 0%, #5c78cf 50%, #fff 50%, #fff 100%);
}

.bg-half-reversed {
  background: linear-gradient(#fff 0%, #fff 50%, #5c78cf 50%, #5c78cf 100%);
}

/* flex columns */
/* flex for outline */
.flex-columns.flex-reverse .row,
.flex-columns.flex-reverse .row-nopadding {
  flex-direction: row-reverse;
}

.flex-columns .row,
.flex-columns .row-nopadding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .row {
  padding: 30px;
}

.flex-columns .row-nopadding {
  padding: 0;
}

.flex-columns .row .pad-0 {
  padding: 0px;
}

.flex-columns .row .item-header {
  padding: 10px;
}

/* flex for inner column  */
.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column .column-1 {
  padding: 0;
}

/* handle image size when normal view */
.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.flex-container {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* padding: 20px; */
}

.item {
  color: #333;
  background: #f4f4f4;
  border: #ccc solid 2px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  /* max-width: 200px; */
  /* width: 250px; */
  /* flex:grow,shrink, basis */
  flex: 1;
  flex-basis: 200px;
}

.item-card {
  height: 300px;
}

.item-header {
  padding: 10px;
}

.item-title {
  padding: 0 10px;
  width: 80%;
}

.flex-container img {
  width: 20%;
  height: 100%;
}

.flex-container .item-card .btn {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.subsection {
  /* padding: 30px; */
  padding: 40px 100px 50px;
}

.subsection h1 {
  /* font-size: 48px; */
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.subsection i {
  /* background-color: #28a745; */
  color: #112556; /*#fff;*/
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* header section - ex. cases */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-header i {
  padding: 1rem;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* flex-grid for multiple column - ex. cases image */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .main-column {
  flex: 60%;
  max-width: 100%;
  padding: 0 20px;
}

.flex-grid .column {
  /* flex: 25%;
  max-width: 25%; */
  /* padding: 0 4px; */
  flex: 13%;
  max-width: 13%;
  padding: 30px 5px;
}

.flex-grid .column img {
  border-radius: 5px;
}
